.card {
  container-type: inline-size;
  --card-height: calc(100svh - 2 * var(--padding-edges));
  position: relative;
  aspect-ratio: 572/1008;
  /* width: auto; */
  height: var(--card-height);

  @media (max-width: 48rem) {
    position: sticky;
    top: 10svh;
    --card-height: 80svh;
  }

  @media (max-width: 32rem) {
    top: 5dvh;
    --card-height: 90dvh;
  }

  &:hover {
    .front {
      transform: rotateY(180deg);
      opacity: 0;
      transition:
        transform 0.5s ease-in-out,
        opacity 0.3s ease-in-out;
      pointer-events: none;
    }

    .back {
      transform: rotateY(0deg);
      opacity: 1;
      transition:
        transform 0.5s ease-in-out,
        opacity 0.5s ease-in-out;
    }
  }
}

.back {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  /* gap: calc(var(--padding-edges) * 2); */
  transform: rotateY(180deg);
  opacity: 0;
  transition:
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  transition-delay: 0.2s;
  border-radius: 3rem;
  background-image: url('/new-texture.webp');
  background-position: center;
  background-size: cover;
  background-color: var(--background-light);
  padding: 15cqi;
  height: var(--card-height);
  color: var(--background-dark);

  @media (max-width: 48rem) {
    padding: 3rem;
    height: var(--card-height);
  }
}

.front {
  position: absolute;
  transition:
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  transition-delay: 0.2s;
}

.pattern {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  margin: 0;
  font-size: 15cqi;
  text-wrap: balance;
}

.quote * {
  font-style: italic;
  font-size: 5cqi;
  line-height: 1.5;
  text-wrap: pretty;
}

.readMore {
  position: relative;
  align-self: end;
  margin-right: 10cqi;
  width: fit-content;
  &::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    background-color: var(--background-dark);
    width: 100%;
    height: 1px;
    content: '';
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.readMore > p {
  font-size: 9cqi;
  font-family: var(--font-signature);
  text-align: right;
}

.cardBorder {
  pointer-events: none;
}
