.card {
  position: relative;
  aspect-ratio: 572/1008;
  height: calc(100svh - 2 * var(--padding-edges));

  @media (max-width: 48rem) {
    width: min(50svh, 90vw);
    height: auto;
  }
}

.back {
  position: absolute;
}

.front {
  position: absolute;
}
