.intro {
  padding-inline: var(--padding-edges);
}

.titleSection {
  padding-top: 38svh;
  min-height: calc(
    100svh + var(--title-section-height, 10svh) + calc(var(--title-section-height, 10svh) / 2)
  );

  @media (max-width: 48rem) {
    padding-top: 25svh;
  }
}

.sticky {
  position: sticky;
  top: calc(var(--title-section-height) / 2);
  height: fit-content;
}

.title {
  margin-bottom: 0;
  text-align: center;
}

.subtitle {
  font-style: italic;
  font-size: var(--big-p-font-size);
  letter-spacing: 0.15em;
  text-align: center;
  text-wrap: balance;
}

.trees {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introSection {
  margin-inline: auto;
  padding-top: calc(var(--title-section-height) / 2);
  max-width: var(--content-width);
  min-height: calc(100svh - var(--title-section-height));
}

.introFlex {
  display: flex;
  align-items: center;
  gap: 2rem;

  @media (max-width: 64rem) {
    flex-direction: column-reverse;
  }

  & > * {
    flex: 1;
    width: 100%;
  }
}

.introText {
  & p:first-of-type {
    &::first-letter {
      font-size: var(--h3-font-size);
      line-height: 0;
      font-family: var(--font-signature);
    }
  }
}

.nest {
  width: 100%;
  object-fit: fit;
}
