@layer theme {
  h1,
  h2,
  h3 {
    font-family: var(--font-signature);
  }

  p,
  li {
    font-family: var(--font-serif);
  }

  h1 {
    font-size: var(--h1-font-size);
    margin-bottom: 0.25em;
  }

  h2 {
    font-size: var(--h2-font-size);
    margin-bottom: 1em;
  }

  h3 {
    font-size: var(--h3-font-size);
    margin-bottom: 1em;
  }

  p {
    font-size: var(--p-font-size);
  }
}
