.essayCard {
  position: sticky;
  top: 5svh;
  transition: transform 0.5s ease;
  box-shadow:
    rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 3rem;
  aspect-ratio: 572/1008;
  height: 90svh;
  overflow: hidden;

  @media (max-width: 48rem) {
    position: static;
    border-radius: 2rem;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover {
    transform: rotate(-1deg);
    transition: transform 0.3s ease;
  }
}
